@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    
}

li, a, button, label {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1em;
    color: #edf0f1;
}
header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    background-color: rgb(94, 137, 117);
    position: sticky;
    top: 0;
    z-index: 1;
}

header label {
    cursor: pointer;
    font-size: 2em;
}


.nav_links li { 
    display: inline-block;
    padding: 0 20px;

}


.nav_links li a { 
    transition: all 0.3s ease 0s;
    font-size: 18px;
}

.nav_links li a:hover{ 
    color: #43da94;
}

Header a button{
    padding: 10px 25px;
    border: none;
    background-color: rgb(0, 92, 179);
    transition: all 0.3s ease 0s;
    border-radius: 50px;
    cursor: pointer;
}

Header a button:hover{
    opacity: .65;
}


/* ====CONTAINER==== */
.container, body {
    background-color: rgb(233, 230, 225);
}

.namaToko {
    height: 100vh;
    background-color: #35322e;
    background-image: url(img/bahan/head.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.tulisan {
    font-size: 2em;
    color:#E9E6E1;
    text-align: center;
}

.profil {
    width: 60%;
    text-align: center;
    margin: 60px auto;
    font-size: 1.4em;
}

.profil img {
    width: 4em;
}
.profil p {
    text-align: justify;
    /* text-indent: 50px; */
}

.gallery {
    font-size: 1.3em;
    width: 100%;
    background-color: rgb(94, 137, 117);;
    color: rgb(233, 230, 225);
    padding: 15px 0;
}
.galeri {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.buah, .kayu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5%;
    margin-right: 10%;
    padding: 15px;
    background-color: rgba(199, 230, 207, 0.6);
}

.hias, .taman {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 5%;
    margin-left: 10%;
    padding: 15px;
    background-color: rgba(199, 230, 207, 0.6);
}
.taman {
    margin-right: 10%;
}

.alamat {
    margin: 0px auto;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 
    "top top"
    "left right";
    margin-bottom: 60px;
    overflow: hidden;
}

.alamat h1 {
    grid-area: top;
    margin: 30px 0;
    font-size: 2.2rem;
}

.sosmed {
    grid-area: left;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
}

.gMap {
    grid-area: right;
    background-color: rgb(204, 197, 197);
    /* margin-right: 10%; */
    /* margin-left: auto;
    margin-right: auto; */
    margin-bottom: 40px;
    border-radius: 20px;
}


.sosmed img {
    width: 75px;
    margin-right: 130px;
    transition-duration: 0.4s;
    box-sizing: border-box;
}

.sosmed p {
    display: none;
}

.sosmed img:hover {
    width: 80px;
    margin-left:40px ;
    position: relative;
    transition-duration: 0.4s;
}

.gMap iframe {
    width: 80%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 10%;
}

.gMap p {
    font-size: 1.2em;
    width: 65%;
    margin: 10px auto;
}

.footer {
    background-color: rgba(43, 72, 90, 1) ;
}

.footer p{
    padding: 10px;
    color: #E9E6E1;;
    text-align: center;
    font-size: .9em;
}

.footer p span{
    color: rgb(205, 228, 72);
}


.buah img, .hias img, .kayu img {
    width: 19%;
    margin-left: 10px;

}

.gallery img {
    cursor: pointer;
}

.taman img {
    width: 25%;
    margin-left: 10px;
}


.gallery .right {
    text-align: right;
    padding-right: 75px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(60, 85, 77);
    box-sizing: border-box;
}
.gallery .left {
    padding-left: 75px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(60, 85, 77);
    box-sizing: border-box;
    overflow: hidden;
}

.bLainnya {
    border-radius: 10px;
    padding: 15px 5px;
    margin: 0 15px;
    border: none;
    background-color: rgb(0, 92, 179);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    font-size: .9em;
} 

.bLainnya:hover {
    opacity: .8;
} 



.buah2, .hias2, .kayu2, .taman2 {
    display: none;
}







/* ===Tablet=== */
@media only screen and (max-width: 768px) {
    header .cta {
        display: none;
    }

    header label {
        font-size: 1em;
    }

    nav {
        margin: auto;
    }

    .nav_links li a { 
        font-size: 0.8em;
    }

    .left, .right{
        /* border: 5px solid black; */
        padding-right: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2em;

    }

     .right{
        padding-left: 75px;
     }


     .buah, .hias, .kayu, .taman {
        display: none;
    }


    .buah2, .kayu2,.hias2, .taman2 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 0 0;
        padding: 15px;
        padding-bottom: 35px;
        background-color: rgba(199, 230, 207, 0.6);
    }


     .buah2 img, .hias2 img, .kayu2 img, .taman2 img{
        /* align-items: center; */
        width: 44%;
        height: auto;
        margin: 10px auto;
    
    }

    .gallery .bLainnya {
        margin-top: 25px;
        border-radius: 5px;
        padding: 10px 5px;
        font-size: .6em;
    } 

    .bLainnya:hover {
        background-color: rgba(32, 124, 209, 0.9); ;
    }


    .alamat {
        margin: 0px auto;
        text-align: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "top" "top"
        "right" "right"
        "left" "left";
        margin-bottom: 60px;
        overflow: hidden;
        box-sizing: border-box;
    }
    
    .alamat h1 {
        grid-area: top;
        font-size: 2rem;
    }
    
    
    .gMap {
        grid-area: right;
        background-color: rgb(204, 197, 197);
        border-radius: 10px;
    }

    .gMap iframe {
        width: 90%;
        margin: 10px auto;
    }
    
    .gMap p {
        font-size: 1em;
        width: 65%;
        margin: 10px auto;
    }


    .sosmed {
        grid-area: left;
        margin: auto;
        flex-direction: row;
    }

    .sosmed img {
        width: 75px;
        margin-right: 0px;
        transition-duration: 0.4s;
    }

    .sosmed img:hover {
        width: 85px;
        position: relative;
        margin-left: 0px;
    }

    .footer p{
        padding: 5px;
        font-size: .8em;
    }

}







/* ===Handphone=== */
@media only screen and (max-width: 480px) {
.buah2, .hias2, .kayu2, .taman2 {
    flex-direction: column;
    margin-bottom: 120px;
}

.buah2 img, .hias2 img, .kayu2 img, .taman2 img {
    width: 100%;
}

.taman2 {
    margin-bottom: 20px;
}


}